# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/DataGenerator/new/
/DataGenerator/renew/
/DataGenerator/traindata/
/DataGenerator/totrain/
/pytorchtest/traindata/
/pytorchtest/checkpoints/
/pytorchtest/valid/
